body{
    padding: 0;
    margin: 0;
    text-align: center;
}


h1{
text-align: center;
color: #ff8700;
font-size: 60px;
padding: 10px;
}
h3{
    text-align: center;
    font-size: 20px;
    
}
h3:hover{
    cursor: pointer;
    color:#ff8700;
}
p{
    color: #a09898;
    text-align: center;

}
figcaption{
    text-align: center;
}
figcaption:hover{
    background-color:lemonchiffon;
}
figure{
    display: inline-block;
    
}

a{
    text-decoration: none;
}
img{
    padding: 1.5em;
    border-radius: 5px;
}
