*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
body{
    font-family: montserrat;
}
nav{
    background-color: #4f91cd;
    height: 200px;
    width: 100%;
    
     position: sticky;
}
.logo{
    color: silver;
    font-size: 50px;
    line-height: 220px;
    padding-left: 150px;
    font-weight: bolder;
    margin: 30px;

}
nav ul{
    float: left;
    margin-left: 20px;
    margin-top: 60px;
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
    
}
nav ul li a{
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
    
}
button{
    float: right ;
background-color: #4f91cd;
    color: white;
    padding: 9px 25px;
margin-top: 80px;

}

button :hover{
    background-color: #98c9f4;
    padding: 9px 30px;
    
}

body{
    margin: 0;
}
.bag-image{
       background-image: url(https://raw.githubusercontent.com/techkaro-circle/tk-class02-task/master/mockup/Main%20Page%20Image.PNG);
background-size: cover;
background-position: center;
height: 100vh;
padding: 200px;
margin-bottom:20px ;
margin-top: 40px;
}
h1 ,h2{
    margin: 0;
    text-align: center;
    font-size: 60px;
    color: #db6268;
    
}
section p{
    background-color: #7aa120;
    height:150px ;
    width:100% ;
    margin-top: 50px;
}

p{
    
      padding:0px;
      text-align: center;
      font-size: 30px;
      color: white;
}
.menue{
    width: 800px;
    margin: 50px auto 0;
    display: table;
    box-sizing: border-box;
}
.row{
    margin: 20px 0;
}
.column{
    background: black;
    display: table-cell;
    padding: 5px;
    width: 33.3333%;
    text-align: center;
    color: #00bbff;
    vertical-align: middle;
    border-left: 10px solid  white;
    border-right: 10px solid white;
}
.colimn h4{
color: #00bbff;
}
.column p{
    color: darkgray;
}
.row:nth-child(1) .column:nth-child(1){
    background: #e7ecf0;
}
.row:nth-child(1) .column:nth-child(2){
    background:  #e7ecf0;
}
.row:nth-child(1) .column:nth-child(3){
    background:  #e7ecf0;
}
.row:nth-child(2) .column:nth-child(1){
    background: #620e6e;
}
.row:nth-child(2) .column:nth-child(2){
    background:  #4385c1;
}
.row:nth-child(2) .column:nth-child(3){
    background:  #e7ecf0;
}
 #child1{
    background: #620e6e;
 }
#child2{
    background:  #4385c1;
}


 .div2 button{
    color:#4385c1 ;
    background-color: white;
    border: 3px solid #4385c1;
    padding: 20px 30px;
    border-radius: 8px;
    cursor: w-resize;
    
    display:flex;
}
.footer{
    width: 100%;
    display: table;
    box-sizing: border-box;
    
    
}
.footer-row{
    margin: 0;
}

.footer-column{
    background: black;
    display: table-cell;
    height: 300px;
    width: 33.3333%;
    text-align: center;
    color:white;
    
}








